.container {
    max-width: 1080px;
    background: rgb(161, 165, 162);
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.trackItem {
    color: #ff0;
    padding: 10px 0px;
    cursor: pointer;
    user-select: none;
}
.currentAndTotalTime {
    color: #ff0;
    font-size: 40px;
}
.controls {
    font-size: 30px;
    color: #fff;
    margin: 20px 40px;
    cursor: pointer;
    user-select: none;
}
#progressBar {
    width: 400px;
    height: 5px;
    background: gray;
    margin: 5px 0px;
}
#progressBar .currentProgress {
    width: 0px;
    height: 100%;
    background: darkred;
}
.musicPlayer .pauseBtn {
    display: none ;
}